.slika {
    width: 60rem;
    height: 50rem;
}

.slika1 {
    width: 60rem;
    height: 50rem;
}

.slika2 {
    width: 60rem;
    height: 50rem;
}

.slika3 {
    width: 60rem;
    height: 50rem;
}